 body {
	font-family: Helvetica, sans-serif;
}

p {
	text-indent: 0!important;
	margin-bottom: 1em!important;;
}

h4 {
	font-size: 20px;
}

.subtitle {
	font-weight: 400;
	font-size: 22px;
}

.center {
	text-align: center;
	margin: 0 auto;
	display: block;
}